h1 {
    color: rgb(236, 10, 10);
}
h2 {
    color: white;
    background-color: rgb(236, 10, 10);
}
.display-inline-block {
    display: inline-block;
    margin-right: 10px;
}
div {
    border: solid 2px rgb(37, 34, 34);
    margin-bottom: 10px;
    width: 400px;
    height: 250px;
}
.saldo {
    font-weight: bold;
}
