.rosso {
    color: red;

}

.casuali {
    background-color: grey;
    height: 50px;
    width: 50px;
}

.end {
    background-color: red;
    color: white;
}

.casuale1 {
    background-color: red;
}

.casuale2 {
    background-color: green;
}

.casuale3 {
    background-color: blue;
}

.casuale4 {
    background-color: yellow;
}