.rosso {
    color: red;

}

.casuali {
    background-color: grey;
    height: 50px;
    width: 50px;
}

.end {
    background-color: red;
    color: white;
}

.rosso {
    background-color: red;
}

.verde {
    background-color: green;
}

.blu {
    background-color: blue;
}

.giallo {
    background-color: yellow;
}