.display-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.primo-gruppo {
    width: 150px;
    height: 150px;
    background-color: grey;
}
.secondo-gruppo {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.terzo-gruppo {
    width: 50px;
    height: 50px;
    background-color: grey;
}