.display-inline {
    display: inline-flex;
}
.primo-gruppo {
    width: 150px;
    height: 150px;
    background-color: grey;
    margin: 5px;
}
.secondo-gruppo {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}