h1 {
    background-color: red;
    color: white;
}

.contenitore-div div:nth-child(odd) {
    background-color: yellow;
    color: black;
}

.contenitore-div div:nth-child(even) {
    background-color: green;
    color: black;
}

.ultimo {
    color: blue;
}