h1 {
    background-color: rgb(0, 255, 0);
    color: rgb(10, 2, 2);
}

.pari {
    background-color: rgb(193, 79, 172);
    color: rgb(0, 0, 0);
}

.dispari {
    background-color: rgb(0, 19, 128);
    color: white;
}

.ultimo {
    color: rgb(4, 4, 8);
    background-color: green;
}