h1 {
    background-color: rgb(0, 255, 0);
    color: rgb(10, 2, 2);
}

.contenitore-div div:nth-child(odd) {
    background-color: rgb(221, 221, 151);
    color: rgb(0, 0, 0);
}

.contenitore-div div:nth-child(even) {
    background-color: rgb(0, 19, 128);
    color: rgb(0, 0, 0);
}

.ultimo {
    color: rgb(4, 4, 8);
    background-color: green;
}