.rosso {
    color: red
}

.casuali div:nth-child(odd) {
    background-color: grey;
    color: white;
}

.casuali div:nth-child(even) {
    background-color: black;
    color: white;
}

.fine {
    background-color: red;
    color: white;
}