h1 {
    color: red
}

.contenitore-div div:nth-child(odd) {
    background-color: grey;
    color: white;
}

.contenitore-div div:nth-child(even) {
    background-color: black;
    color: white;
}

.ultimo {
    background-color: red;
    color: white;
}